JAR_YUI_COMPRESSOR="/path/to/yuicompressor/yuicompressor-2.4.8.jar"
JAR_GOOGLE_CLOSURE="/path/to/googleclosure/compiler.jar"

SOURCE_DIR="../"

BUILD_SOURCE_FILTER="
- /.git/
- /script/

- .gitignore
- /*.js
- /*.scss
"

BUILD_SASS_LIST="
/style.scss|/resource/style.css
"

BUILD_JAVASCRIPT_LIST="
/*.js|/resource/app.js
"

SERVER_HOSTNAME="target.domain.com"
SERVER_SSH_USER="website"
SERVER_SSH_PORT="22"

SERVER_RSYNC_MODULE="site-domain.com"
SERVER_RSYNC_CHMOD="a-rwx,Da+rx,Fa+r,u+w"

SERVER_EXCLUDE_FILTER="
/log/
"

function preDeployHook {

	# fetch current Git revision SHA1
	local gitSHA1=$(git --git-dir "$1/.git" rev-parse HEAD)

	# apply SHA1 to /index.html at token location of [BUILD_SHA1]
	# note: only using first 16 characters of SHA1
	local sedSearch="\[BUILD_SHA1\]"
	local sedReplace="${gitSHA1:0:16}"
	sed --in-place --regexp-extended "s/$sedSearch/$sedReplace/" "$2/index.html"
}
